Investigate ways to implement the code verifier

Using a code verifier such as in the authorization code grant requires generating a high-entropy cryptographic random string with a range of 43-128 and only using the characters listed in [RFC 7636 Section 4.1](https://tools.ietf.org/html/rfc7636#section-4.1)

The rand crate has a good API. There is also the possibility that someone has already written a stable library for this. 

Closing as this has been implemented for a 43-octet URL safe string. Please reopen if you feel this is not complete or needs changes.